header {
    background-color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: 2.5rem;
    padding-bottom: 10px;
}

.bg-company-red {
    background-color: rgb(82, 172, 202) !important;
}

.container {
    max-width: 100%;
}

body {
    background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
}

.ins-ic {
    text-align: left;
    color: cornsilk;
    display: inline-block;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-brand {
        height: 80px;
    }
    .navbar-toggle {
        margin-top: 25px;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 0px;
    }
}

code {
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
}

/* more css test */

/* .navbar-custom {
    background-color: hsl(0, 0%, 100%);
} */

/* .navbar {
    background-image: none;
} */

/* change the brand and text color */

.navbar-brand {
    /* background-color: rgb(37, 204, 168); */
    /* transform: translateX(-50%); */
    left: 40%;
    position: relative;
    margin-top: auto;
    margin-bottom: 9.5rem;
    /* padding-bottom: 10px; */
    padding: 0;
    width: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}

.navbar-collapse {
    overflow: hidden;
}

.navbar-brand img {
    width: 250%;
    /* adjust the width as per your logo size*/
    position: relative!important;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
    color: rgba(150, 9, 9, 0.8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 300;
}

/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link {
    color: #da57a3;
}