.hideable {
    margin-top: 50px;
    font-size: 32px;
    height: 10px;
    width: 70%;
    position: absolute;
    bottom: 0;
    border-top: 21px solid #aaa;
}

.funkybuttonHideable {
    /*border: none;*/
    background: #00f821;
    /*color: #ffffff !important;*/
    /*font-weight: 100;*/
    /*padding: 20px;*/
    text-transform: uppercase;
    border-radius: 20px;
    /*display: inline-block;*/
    transition: all 0.3s ease 0s;
}

.funkybuttonHideable:hover {
    /*color: #404040 !important;*/
    /*font-weight: 700 !important;*/
    letter-spacing: 22px;
    /*background: none;*/
    -webkit-box-shadow: 0px 5px 40px 10px rgba(108, 170, 179, 0.61);
    -moz-box-shadow: 0px 5px 40px 10px rgba(108, 170, 179, 0.61);
    box-shadow: 0px 5px 60px -10px rgb(233, 105, 105);
    transition: all 0.6s ease 0s;
}