.btn-success {
    color: #fdfdfd;
    background-color: #7cc;
    border-color: #5bc2c2;
    background: #76a7aa;
    margin-top: 10pt;
    margin-bottom: 10pt;
    align-content: center;
}

.btn-success:hover {
    /*color: #404040 !important;*/
    /*font-weight: 700 !important;*/
    letter-spacing: 4px;
    /*background: none;*/
    -webkit-box-shadow: 0px 5px 40px 10px rgba(108, 170, 179, 0.61);
    -moz-box-shadow: 0px 5px 40px 10px rgba(108, 170, 179, 0.61);
    box-shadow: 0px 5px 60px -10px rgb(233, 105, 105);
    transition: all 0.4s ease 0s;
    background: rgb(233, 105, 105);
}