body {
  background-color: #ffffff;
  position: relative;
}

h2 span.spacer {
  padding: 0 5px;
}

h2 {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 45px;
  font-weight: 900;
}

h5 {
  color: #ffffff;
  font-family: "Montserrat";
}

.component {
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: center;
}

/* h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 85px;
  color: rgb(145, 19, 61);
  font-display: 23;
} */

.alternate-font {
  font-family: "Montserrat";
  font-weight: 900;
}

.alternate-font2 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
}

.maintxt {
  position: relative;
  font-size: 86px;
  text-align: center;
}

.maintxt>img, .overlay-text {
  position: absolute;
}

.maintxt2 {
  position: relative;
  font-size: 36px;
}

.overlay-text {
  padding: 50px 50px;
  text-align: center;
}

.feature-wrapper {
  margin: 50px;
  padding: 50px;
  /* background-color: pink; */
  background-color: beige;
}

.feature-wrapper2 {
  margin: 50px;
  padding: 50px;
  /* background-color: pink; */
  background-image: url('./images/dark_background_for_text.png');
}

.feature-wrapper3 {
  margin: 50px;
  padding: 50px;
  /* background-color: pink; */
  background-image: url('./images/cocktail_skulls_thin.jpg');
}

.funkybutton {
  /*border: none;*/
  background: #52accaff;
  /*color: #ffffff !important;*/
  /*font-weight: 100;*/
  /*padding: 20px;*/
  text-transform: uppercase;
  border-radius: 20px;
  /*display: inline-block;*/
  transition: all 0.3s ease 0s;
}

.funkybutton:hover {
  /*color: #404040 !important;*/
  /*font-weight: 700 !important;*/
  letter-spacing: 10px;
  /*background: none;*/
  -webkit-box-shadow: 0px 5px 40px 10px rgba(108, 170, 179, 0.61);
  -moz-box-shadow: 0px 5px 40px 10px rgba(108, 170, 179, 0.61);
  box-shadow: 0px 5px 60px -10px rgb(233, 105, 105);
  transition: all 0.6s ease 0s;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.jumbotron {
  background: url('./images/med_cocktail_4glasses.png') fixed center no-repeat;
  background-size: cover;
  height: 40vh;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.container-fluid {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
}

/* .brand {
  position: absolute;
  left: 50%;
  margin-left: -50px; */

/* 50% of your logo width */

/* display: block;
} */

/* header {
  background-color: rgb(204, 157, 37);
  margin-top: auto;
  margin-bottom: 2.5rem;
  padding-bottom: 10px;
} */

/* footer {
  background-color: rgb(155, 27, 134);
  margin-top: 50px;
  font-size: 12px;
  height: 10px;
  width: 70%;
  position: absolute;
  bottom: 0;
  border-top: 81px solid #aaa;
} */

/* CSS from REACT IMPORT BELOW */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}